form.form-horizontal.add-new
	div.form-group
		label.col-sm-2.control-label(for="name") Name
		div.col-sm-9
			input(type="text" class="form-control" id="name" name="name" placeholder="name")
	div.form-group
		label.col-sm-2.control-label(for="count") Count
		div.col-sm-9
			input(type="number" class="form-control" id="count" name="count" placeholder="count")
	div.form-group
		label.col-sm-2.control-label(for="price") Price
		div.col-sm-9
			input(type="text" class="form-control" id="price" name="price" placeholder="price")