doctype html
html
head
meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")

link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")

link(href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" rel="stylesheet")
link(rel="stylesheet" href="bower_components/bootstrap-notify/css/bootstrap-notify.css")

link(href="bower_components/tablesorter/dist/css/theme.default.min.css" rel="stylesheet")

link(rel="stylesheet" href="build/css/style.min.css")


script(src="bower_components/jquery/dist/jquery.min.js")

script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js")
script(src="bower_components/bootstrap-notify/js/bootstrap-notify.js")

script(src="bower_components/handlebars/handlebars.js")

script(src="bower_components/jquery-validation/dist/jquery.validate.min.js")
script(src="bower_components/jquery-validation/src/localization/messages_ru.js")

script(src="bower_components/tablesorter/dist/js/jquery.tablesorter.min.js")
script(src="bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js")
script(src="bower_components/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js")
script(src="build/js/app.min.js")
body
	.container
		.row
			.col-sm-8.col-xs-9
				.input-group
					input.form-control.search(type="text" placeholder="Search...")
					span.input-group-btn
							button.btn.btn-primary.search(type="button") Search
							button.btn.btn-primary.showAll(type="button") All products
			.col-sm-4.col-xs-3
				button.btn.btn-primary.pull-right.add(type="button") Add new
		.row
			.col-sm-12
				table.table.table-bordered.products-table.tablesorter
					thead
						tr
							th Name
							th Count
							th Price
							th(style="width:100px; text-align:center;") Actions
					tbody
		.notification